/* постоянные клиенты */
.clients-title {
  margin-bottom: 50px;
}
.clients-list {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.clients-item {
  width: calc((100%-150px) / 6);
  padding: 15px 31px;
  border: 1px solid $icon-color;
  border-radius: 4px;
  cursor: pointer;
  color: $icon-color;
  transition: color 250ms $animation-cubic, border-color 250ms $animation-cubic;
}
.clients-item:not(:last-child) {
  margin-right: 30px;
}
.clients-link {
  color: inherit;
}
.clients-icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}
.clients-item:hover,
.clients-link:focus {
  color: $accent-color;
  border-color: $accent-color;
}
