/* стили особенностей */
.feature {
  padding-bottom: 47px;
}
.feature__list {
  display: flex;
  gap: var(--gap-size);
}

.feature__item {
  --column-number: 4;
  flex-basis: calc(
    100% / var(--column-number) - var(--gap-size) * (var(--column-number) - 1) /
      var(--column-number)
  );
}
.feature__icon {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  background: $team-background-color;
  border-radius: 4px;
}
.feature__subtitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: inherit;
  line-height: 1.14;
  text-transform: uppercase;
  color: $secondary-text-color;
}
